@use "../utils/_mains" as utils

.btn
    background-color: transparent
    color: utils.$pink
    font-size: 1.5rem
    display: inline-block
    cursor: pointer
    text-decoration: none
    border: 4px solid currentColor
    padding: 0.25em 1em
    border-radius: 10px
    text-shadow: 0 0 0.125em utils.$white, 0 0 0.45em utils.$pink
    box-shadow: 0 0 0.5em utils.$pink
